@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionesModel
@{
}

<div class="text-center">
    <form method="POST">
    
        
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control"  required placeholder="marca" id="marca" name="marca" asp-for="Avion.marca">
        
        <label for="modelo" class="form-label">Modelo</label>
        <input type="number" class="form-control"  required placeholder="modelo" id="modelo" name="modelo" asp-for="Avion.modelo">
           
        <label for="asientos" class="form-label">Numero_asientos</label>
        <input type="number" class="form-control"  required placeholder="numero_asientos" id="numero_asientos" name="numero_asientos" asp-for="Avion.numero_asientos">

        <label for="banos" class="form-label"> Numero_banos</label>
        <input type="number" class="form-control"  required placeholder=" numero_banos" id=" numero_banos" name="numero_banos" asp-for="Avion.numero_banos">

        <label for="peso" class="form-label">Capacidad</label>
        <input type="number" class="form-control"  required placeholder="capacidad" id="capacidad" name="capacidad" asp-for="Avion.capacidad">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>