@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fly Emirates</h1>
    <img class="img-fluid" src="https://c.ekstatic.net/ecl/aircraft-exterior/airbus-a380/emirates-airbus-a380-flying-view-a-t1024x480.jpg">
</div>
